/* Sets Design Parameters for Main RPS Banner */

.jumbotron{        
    margin-top:20px;
    height: 250px;
    background-image: url("../images/rpslogo.jpg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 100%;
}


/* Sets Font Parameters for Main RPS Banner  */
.display-4{
    
    font-family: 'Allerta Stencil', sans-serif;
    line-height: 250px;  
    font-size: 60px;  
}


/* Sets Parameters for Player One's Area */
#p1{
    border: 2px solid rgb(45, 108, 180);
    height: 400px;
    /* width: 350px; */
    margin-right: 10px;
    font-family: 'Allerta Stencil', sans-serif;
    /* font-size: 30px; */
   
}


/* Sets Parameters for Player Two's Area */

#p2{
    border: 2px solid rgba(194, 17, 17, 0.781);
    height: 400px;
    /* width: 350px; */
    margin-left: 10px;
    font-family: 'Allerta Stencil', sans-serif;
    /* font-size: 30px; */
}



/* Sets Parameters for Chat Text Area */

#chatroom{

    border: 2px solid rgb(165, 25, 130);
    height: 300px;
    margin-top: 70px;
    margin-right: 10px;
    margin-bottom: 20px;
}


/* Sets Parameters for Player One and Two Statistics */

#scoreboard{

    border: 2px solid rgb(165, 25, 130);
    height: 300px;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 20px;
}



/* Sets Constant Height and Width for P1 and P2 throw choices */

.choice{
    height: 48px;
    width: 48px;
    margin-bottom:20px;
}


/* Sets Constant Height and Width for P1 and P2 avatar images */
.avatar{
    height: 150px;
    width: 150px;
    
}


/* Sets up parameters for div that will be dynamically manipulated
Here is where the throw choices will be seen and a winner determined */

/* #arena{
    height: 400px;
    font-family: 'Allerta Stencil', sans-serif;
} */